<!DOCTYPE html>
<html lang="en">
{% load custom_filters %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet"> 

	<!-- CSS -->
	<link rel="stylesheet" href="../static/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="../static/css/nouislider.min.css">
	<link rel="stylesheet" href="../static/css/ionicons.min.css">
	<link rel="stylesheet" href="../static/css/plyr.css">
	<link rel="stylesheet" href="../static/css/photoswipe.css">
	<link rel="stylesheet" href="../static/css/default-skin.css">
	<link rel="stylesheet" href="../static/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="../static/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="../static/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../static/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../static/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../static/icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body class="body">
	<form action="/search" method="get">
	
	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="/" class="header__logo">
								<img src="../static/img/logo.svg" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">

								<li class="header__nav-item">
									<a href="/" class="header__nav-link">Home</a>
								</li>

								<li class="header__nav-item">
									<a href="/movies/1" class="header__nav-link">Movies</a>
								</li>

								<li class="header__nav-item">
									<a href="/tvshows/1" class="header__nav-link">TV Shows</a>
								</li>

								<li class="header__nav-item">
									<a href="/insert" class="header__nav-link">Insert Data</a>
								</li>

								<li class="header__nav-item">
									<a href="/about" class="header__nav-link">About</a>
								</li>

							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">
								<button class="header__search-btn" type="button">
									<i class="icon ion-ios-search"></i>
								</button>

								
							</div>
							<!-- end header auth -->

							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- header search -->
		<div class="header__search">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__search-content">
							<input name="query" placeholder="Search for a movie, TV Series that you are looking for" value="{{ search_query }}">

							<button type="submit">search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end header search -->
	</header>
	<!-- end header -->

	<!-- page title -->
	<section class="section section--first section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">Search: {{ search }}</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="/">Home</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">Search</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- filter -->
	<div class="filter">
		<div class="container">
			<div class="row">
				<div class="col-12">
					
					<div class="filter__content">
						<div class="filter__items">
							<!-- filter item -->
							<div class="filter__item" id="filter__genre">
								<span class="filter__item-label">GENRE:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input readonly="readonly" value="{{ filter_genre }}" id="filter_genre" name="genre" style="width: 9.5vw;">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-genre">
									<li>All<li>
									<li>Action & Adventure</li>
									<li>Anime</li>
									<li>British</li>
									<li>Children & Family</li>
									<li>Classic</li>
									<li>Comedy</li>
									<li>Crime</li>
									<li>Documentary</li>
									<li>Drama</li>
									<li>Faith & Spirituality</li>
									<li>Horror</li>
									<li>Independent</li>
									<li>International</li>
									<li>Korean</li>
									<li>LGBTQ</li>
									<li>Music & Musical</li>
									<li>Mystery</li>
									<li>Reality Show</li>
									<li>Romance</li>
									<li>Sci-Fi & Fantasy</li>
									<li>Science & Nature</li>
									<li>Spanish</li>
									<li>Sports</li>
									<li>Teen</li>
									<li>Thriller</li>
								</ul>
							</div>
							<!-- end filter item -->

							<!-- filter item -->
							<div class="filter__item" id="filter_year">
								<span class="filter__item-label">RELEASE YEAR:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter_year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input readonly="readonly" value="{{ filter_year }}" id="filter_year" name="release_year" style="width: 5vw;">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter_year">
									<li>All</li>
									<li>2021</li>
									<li>2020</li>
									<li>2019</li>
									<li>2018</li>
									<li>2017</li>
									<li>2016</li>
									<li>2010-2015</li>
									<li>2000-2009</li>
									<li>1990-1999</li>
									<li>1970-1989</li>
									<li>1950-1969</li>
									<li>1900-1949</li>
								</ul>
							</div>
							<!-- end filter item -->

							<!-- filter item -->
							<div class="filter__item" id="filter_country">
								<span class="filter__item-label">COUNTRY:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter_country" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input readonly="readonly" value="{{ filter_country }}" id="filter_country" name="country" style="width: 10.5vw;">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter_country">
									<li>All</li>
									<li>Afghanistan</li>
									<li>Albania</li>
									<li>Algeria</li>
									<li>Angola</li>
									<li>Argentina</li>
									<li>Armenia</li>
									<li>Australia</li>
									<li>Austria</li>
									<li>Azerbaijan</li>
									<li>Bahamas</li>
									<li>Bangladesh</li>
									<li>Belarus</li>
									<li>Belgium</li>
									<li>Bermuda</li>
									<li>Botswana</li>
									<li>Brazil</li>
									<li>Bulgaria</li>
									<li>Burkina Faso</li>
									<li>Cambodia</li>
									<li>Cameroon</li>
									<li>Canada</li>
									<li>Cayman Islands</li>
									<li>Chile</li>
									<li>China</li>
									<li>Colombia</li>
									<li>Croatia</li>
									<li>Cuba</li>
									<li>Cyprus</li>
									<li>Czech Republic</li>
									<li>Denmark</li>
									<li>Dominican Republic</li>
									<li>East Germany</li>
									<li>Ecuador</li>
									<li>Egypt</li>
									<li>Ethiopia</li>
									<li>Finland</li>
									<li>France</li>
									<li>Georgia</li>
									<li>Germany</li>
									<li>Ghana</li>
									<li>Greece</li>
									<li>Guatemala</li>
									<li>Hong Kong</li>
									<li>Hungary</li>
									<li>Iceland</li>
									<li>India</li>
									<li>Indonesia</li>
									<li>Iran</li>
									<li>Iraq</li>
									<li>Ireland</li>
									<li>Israel</li>
									<li>Italy</li>
									<li>Jamaica</li>
									<li>Japan</li>
									<li>Jordan</li>
									<li>Kazakhstan</li>
									<li>Kenya</li>
									<li>Kuwait</li>
									<li>Latvia</li>
									<li>Lebanon</li>
									<li>Liechtenstein</li>
									<li>Lithuania</li>
									<li>Luxembourg</li>
									<li>Malawi</li>
									<li>Malaysia</li>
									<li>Malta</li>
									<li>Mauritius</li>
									<li>Mexico</li>
									<li>Mongolia</li>
									<li>Montenegro</li>
									<li>Morocco</li>
									<li>Mozambique</li>
									<li>Namibia</li>
									<li>Nepal</li>
									<li>Netherlands</li>
									<li>New Zealand</li>
									<li>Nicaragua</li>
									<li>Nigeria</li>
									<li>Norway</li>
									<li>Pakistan</li>
									<li>Palestine</li>
									<li>Panama</li>
									<li>Paraguay</li>
									<li>Peru</li>
									<li>Philippines</li>
									<li>Poland</li>
									<li>Portugal</li>
									<li>Puerto Rico</li>
									<li>Qatar</li>
									<li>Romania</li>
									<li>Russia</li>
									<li>Samoa</li>
									<li>Saudi Arabia</li>
									<li>Senegal</li>
									<li>Serbia</li>
									<li>Singapore</li>
									<li>Slovakia</li>
									<li>Slovenia</li>
									<li>Somalia</li>
									<li>South Africa</li>
									<li>South Korea</li>
									<li>Soviet Union</li>
									<li>Spain</li>
									<li>Sri Lanka</li>
									<li>Sudan</li>
									<li>Sweden</li>
									<li>Switzerland</li>
									<li>Syria</li>
									<li>Taiwan</li>
									<li>Thailand</li>
									<li>Turkey</li>
									<li>Uganda</li>
									<li>Ukraine</li>
									<li>United Arab Emirates</li>
									<li>United Kingdom</li>
									<li>United States</li>
									<li>Uruguay</li>
									<li>Vatican City</li>
									<li>Venezuela</li>
									<li>Vietnam</li>
									<li>West Germany</li>
									<li>Zimbabwe</li>
								</ul>
							</div>
							<!-- end filter item -->

							<!-- filter item -->
							<div class="filter__item" id="rating">
								<span class="filter__item-label">RATING:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="rating" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input readonly="readonly" value="{{ rating }}" id="rating" name="rating" style="width: 2.5vw;">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="rating">
									<li>All</li>
									<li>9-10</li>
									<li>8-9</li>
									<li>7-8</li>
									<li>6-7</li>
									<li>5-6</li>
									<li>4-5</li>
									<li>3-4</li>
									<li>2-3</li>
									<li>1-2</li>
									<li>0-1</li>
								</ul>
							</div>
							<!-- end filter item -->


                            <!-- filter item -->
							<div class="filter__item" id="type">
								<span class="filter__item-label">TYPE:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input readonly="readonly" value="{{ type }}" id="type" name="type" style="width: 4.5vw;">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="type">
									<li>All</li>
									<li>Movies</li>
									<li>Tv Shows</li>
								</ul>
							</div>
							<!-- end filter item -->

						</div>
						
						<!-- filter btn -->
						<button class="filter__btn" type="submit">apply filter</button>
						<!-- end filter btn -->
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<!-- end filter -->

	<!-- catalog -->
	<div class="catalog">
		<div class="container">
			<div class="row">
				{% for show in shows %} <!-- size 12 -->
					<!-- card -->
					<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
						<div class="card">
							<div class="card__cover">
								{% if show.img.value != "NO_IMAGE" %}
									<img src="{{ show.img.value }}" alt="" style="width: 100%; height: 240px;">
								{% else %}
									<img src="../static/img/NO_IMAGE.jpg" alt="Image not found" style="width: 100%; height: 240px;">
								{% endif %}
								<a href="/details/{{show.title_id.value}}" class="card__play">
									<i class="icon ion-ios-play"></i>
								</a>
							</div>
							<div class="card__content" >
								<h3 class="card__title" ><a href="/details/{{show.title_id.value}}">{{ show.title.value }}</a></h3>
								
								<span class="card__category">

									<div>
									{% for genre in show.genres.value|split:", " %}
										<a href="/search?genre={{genre|urlencode}}">{{ genre }}{% if not forloop.last %}, {% endif %}</a>
									{%endfor%}
									</div>
								</span>
								<span class="card__rate"><i class="icon ion-ios-star"></i><a href="/search?rating={{show.rating.value}}" style="color:white"> {{ show.rating.value }}</a> </span>
							</div>
						</div>
					</div>
					<!-- end card -->
				{% endfor %}


				<input hidden id='page' name='page' value="{{ page }}">

				{% if page == "1"%}
					<!-- paginator -->
					{%if shows|length != 12 %}
					<div class="col-12">
						<ul class="paginator">
							<li class="paginator__item paginator__item--active"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page }})">{{ page }}</button></a></li>
						</ul>
					</div>
					{% else %}
					<div class="col-12">
						<ul class="paginator">
							<li class="paginator__item paginator__item--active"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page }})">{{ page }}</button></a></li>
							<li class="paginator__item"><a><button style="color: white;width: inherit;"onclick="pageChanger({{ page|add:"1" }})" >{{ page|add:"1" }}</button></a></li>
							<li class="paginator__item"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"2" }})">{{ page|add:"2" }}</button></a></li>
							<li class="paginator__item"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"3" }})">{{ page|add:"3" }}</button></a></li>
							<li class="paginator__item paginator__item--next">
								<a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"1" }})"><i class="icon ion-ios-arrow-forward"></i></button></a>
							</li>
						</ul>
					</div>
					{% endif %}
				<!-- end paginator -->
				{% elif page != "1" %}
					{%if shows|length != 12 %}
						<!-- paginator -->
						<div class="col-12">
							<ul class="paginator">
								<li class="paginator__item paginator__item--prev">
									<a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"-1" }})"><i class="icon ion-ios-arrow-back"></i></button></a>
								</li>
								{%if page != "2"%}
								<li class="paginator__item"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"-3" }})">{{ page|add:"-3" }}</button></a></li>
								{% endif %}
								{%if page != "2" and page != "3"%}
								<li class="paginator__item"><a><button style="color: white;width: inherit;"onclick="pageChanger({{ page|add:"-2" }})" >{{ page|add:"-2" }}</button></a></li>
								{% endif %}
								
								<li class="paginator__item"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"-1" }})">{{ page|add:"-1" }}</button></a></li>
								<li class="paginator__item paginator__item--active"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page }})">{{ page }}</button></a></li>
								<li class="paginator__item paginator__item--next" style="visibility: hidden;">
									<a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"1" }})"><i class="icon ion-ios-arrow-forward"></i></button></a>
								</li>
							</ul>
						</div>
						<!-- end paginator -->
					{% else %}
						<!-- paginator -->
						<div class="col-12">
							<ul class="paginator">
								<li class="paginator__item paginator__item--prev">
									<a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"-1" }})"><i class="icon ion-ios-arrow-back"></i></button></a>
								</li>
								<li class="paginator__item"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"-1" }})">{{ page|add:"-1" }}</button></a></li>
								<li class="paginator__item paginator__item--active"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page }})">{{ page }}</button></a></li>
								<li class="paginator__item"><a><button style="color: white;width: inherit;"onclick="pageChanger({{ page|add:"1" }})" >{{ page|add:"1" }}</button></a></li>
								<li class="paginator__item"><a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"2" }})">{{ page|add:"2" }}</button></a></li>
								<li class="paginator__item paginator__item--next">
									<a><button style="color: white;width: inherit;" onclick="pageChanger({{ page|add:"1" }})"><i class="icon ion-ios-arrow-forward"></i></button></a>
								</li>
							</ul>
						</div>
						<!-- end paginator -->
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<!-- end catalog -->

	<script type="text/javascript">
		function pageChanger(page) {
			document.getElementById("page").value = page;
		}
	</script>

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
			
				<!-- footer copyright -->
				<div class="col-12">
					<div class="footer__copyright">
						<small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>

						<ul>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<!-- end footer copyright -->
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/jquery.mousewheel.min.js"></script>
	<script src="../static/js/jquery.mCustomScrollbar.min.js"></script>
	<script src="../static/js/wNumb.js"></script>
	<script src="../static/js/nouislider.min.js"></script>
	<script src="../static/js/plyr.min.js"></script>
	<script src="../static/js/jquery.morelines.min.js"></script>
	<script src="../static/js/photoswipe.min.js"></script>
	<script src="../static/js/photoswipe-ui-default.min.js"></script>
	<script src="../static/js/main.js"></script>
</form>
</body>

</html>